.container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.container > * {
  color: black; 
  background-color: white;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  padding: 4px 16px; 

}

.container > *:hover {
  cursor: pointer;
  background-color: #ffffffd1;
  text-decoration: underline;
}

.container > *:active {
  transform: scale(0.92);
}