.nav {
  width: 100%;
  box-shadow: 1px 1px 20px 1px #b7b7b73a;
}

.container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container > * {
  display: flex;
  gap: 16px;
}

.container > * > * {
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  color: white;
  border-radius: 25px;
  padding: 8px 16px;
  text-decoration: none;
}

.container > * > *:hover {
  color: black;
  background-color: #ffffff;
}

.container > * > *:active {
  transform: scale(0.92);
}