.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.keyboardRow {
  display: flex;
  gap: 2px;
}

.key {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 24px;
  height: 56px;
  width: 48px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.key:hover {
  cursor: pointer;
}

.enterTop {
  border-bottom: none;
}

.enterLeft {
  border-right: none;
}

.enterRight {
  border-left: none;
  border-top: none;
  font-size: 40px;
  justify-content: flex-start;
}

.backspace {
  font-size: 32px;
  font-weight: normal;
}

.usedLetter {
  background-color: grey;
}