.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.keyboardRow {
  display: flex;
  gap: 4px;
}

.key {
  box-sizing: border-box;
  font-size: 2vmin;
  height: 6vmin;
  width: 5vmin;
  border: 1px solid black;
  border-radius: 0.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterTop {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.enterLeft {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.enterRight {
  border-left: none;
  border-top: none;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}